@import url('https://fonts.cdnfonts.com/css/poppins');

    
:root {
    --font-primary: 'Poppins', sans-serif;
    --font-secunday: 'Poppins', sans-serif;

    --otimizate-color: #00FF66;
    --border-color: #23263a;
    --primary-color: #6e52ff;
    --secondary-color: #6247ed;
    --bg-primary: #151524;
    --text: #a4a6c1;
    --text-paragraph: #818398;
    --accent: #6e7090;
    --bg-secondary: #1b1b32;
    --bg-tertiary: #141424;

}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    color: white;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    border: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    border: none;
    background: var(--bg-tertiary);
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3.4rem;
    line-height: 1.2;
}

h3 {
    font-size: 2.4rem;
}

b {
    color: var(--text);
}

p {
    font-family: var(--font-secundary);
    font-size: 1.4rem;
    color: var(--text);
}

s {
    text-decoration: line-through !important;
}

a {
    transition-duration: 0.3s;
}

button {
    background-color: transparent;
    color: transparent;
    border: none;
    text-decoration: none;
    width: 100%;
}

.texto-destaque {
    color: var(--primary-color) !important;
}

.paragraph {
    color: var(--text-paragraph);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
}

.p-margin-top {
    margin-top: 32px;
}

.text-align-center {
    text-align: center;
}

.accent {
    margin-bottom: 8px;
}

/* Barra de Anuncio */

.section-barra-anuncio{
    background-color: var(--primary-color);
    height: 40px;
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content-barra-anuncio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}