
@import url('https://fonts.cdnfonts.com/css/satoshi');
          


:root {
  --font-principal: 'Satoshi', sans-serif;
  --font-secundaria: 'Satoshi', sans-serif;

  --cor-primaria: #268DF3;
  --cor-secundaria: #6ab5ff;
  --background-principal: #0c0c0c;
  --accent: #6e7090;
  --background-secundario: #272735;
  --bg-tertiary: #0c0c0c;

  --corUm: #268DF3;
  --corDois: #393e46;
  --corTres: #00adb5;
  --corQuatro: #eeeeee;
  --space: 0 auto 20px;
  --fwBolder: 600;
  --fwNormal: 300;
  --section-padding: 60px;

  --corBotaoDestaque: #11cf5d;
}

ion-icon {
  display: block;
}

* {
  text-decoration: none;
  margin: 0;
  z-index: 2;
  padding: 0;
  font-family: var(--font-principal);
  color: white;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  border: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

#inicio {
  width: 100%;
  height: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 32px 0;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-size: 1.6rem;
  border: none;
  background: var(--bg-tertiary);
  box-sizing: border-box;
}

#texto-principal {
  text-align: center;
  margin: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-principal);
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.4rem;
  line-height: 1.2;
}

h3 {
  font-size: 2.4rem;
}

b {
  color: var(--cor-primaria);
}

.destaque-anuncio {
  color: #fff;
}

p {
  font-family: var(--font-secundary);
  font-size: 1.8rem;
  color: var(--text);
}

a {
  transition-duration: 0.3s;
  font-size: 2rem;
}

button {
  background-color: transparent;
  color: transparent;
  border: none;
  text-decoration: none;
  /* width: 100%; */
}

#titulo-pc {
  text-align: center;
  line-height: 50px;
  margin-top: 100px;
  font-weight: 600;
  font-size: 7rem
}

.texto-destaque {
  background: linear-gradient(90deg, #244ffa, #96dbf0, #20d1fd, #244ffa);
  font-size: 7rem;
  font-weight: 600;
  background-size: 400%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animacao 10s linear infinite;

}

.background-inicial {
  top: 100px;
}

#transicao {
  position: relative;
}

.imagem-de-fundo {
  position: absolute;
  left: 50%;
  max-width: 70%;
  padding-bottom: 100px;
  margin-block: 80px;
  transform: translateX(-50%);
}




.section-titulo {
  text-align: center;
}

.section-text {
  color: #FFF;
  font-size: 15px;
  line-height: 1.7;
  text-align: center;
}


/*-----------------------------------*\
  #PORQUE NOS ESCOLHER
\*-----------------------------------*/

.porque {
  padding-block: 80px;
}

.porque-content {
  margin-bottom: 30px;
}

.porque-icon {
  width: 60px;
  height: 60px;
  background: linear-gradient(490deg, #244ffa, #96dbf0, #20d1fdb9, #244ffa);
  display: grid;
  place-items: center;
  color: #5793ec;
  font-size: 40px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.porque-titulo {
  margin-bottom: 10px;
}

.porque-text {
  color: #fff;
  font-weight: 500;
  line-height: 1.8;
  margin-bottom: 20px;
}

.porque-list {
  display: grid;
  gap: 20px;
}

.porque-card {
  padding: 20px;
  text-align: center;
  box-shadow: 0 3px 12px hsla(233, 77%, 10%, 0.06);
  border-radius: 4px;
  transition: 0.35s ease;
  margin: 25px;
  background-color: rgba(43, 43, 43, 0.59);
}

.porque-card:hover {
  background: #5793ec;
  transform: translateY(-15px);
  box-shadow: 25px 25px 28px hsla(212, 67%, 59%, 0.4);
}

.porque-card .card-icon {
  width: 60px;
  height: 60px;
  background: linear-gradient(490deg, #244ffa, #96dbf0, #20d1fdb9, #244ffa);
  display: grid;
  place-items: center;
  color: #5793ec;
  font-size: 28px;
  border-radius: 50%;
  margin-inline: auto;
  margin-bottom: 20px;
  transition: 0.35s ease;
}

.porque-card:hover .card-icon {
  background: none;
  color: #fff;
  /* box-shadow: 0 0 0 8px hsla(0, 0%, 100%, 0.05); */
  transition: 0.35s ease-out;
}

.porque-card .cartao-titulo {
  margin-bottom: 10px;
  transition: 0.35s ease;
}

.porque-card:hover .cartao-titulo {
  color: #fff;
}

.porque-card .card-text {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.8;
  transition: 0.35s ease;
}

.porque-card:hover .card-text {
  color: #fff;
}

@media (min-width: 450px) {
  .porque-card .card-text {
    max-width: 300px;
    margin-inline: auto;
  }

}


@media (min-width: 576px) {

  .container {
    max-width: 525px;
    margin-inline: auto;
  }

  .section-text {
    max-width: 460px;
    margin-inline: auto;
    margin-bottom: 80px;
  }
}

@media (max-width: 500px){

  .about-content{
    margin: 20px;
    text-align: center;
  }

  .sobre .secao-texto {
    margin-bottom: 20px !important;
    text-align: center;
    font-size: 2rem !important;
  }

  .sobre .titulo-sobre {
    margin-bottom: 15px;
    letter-spacing: -2px;
    font-size: 4rem !important;
    text-align: center;
  }

  .oferecemos{
    font-size: 4rem !important;
  }
  

  .faq-conteudo{
    font-size: 1.7rem !important;
    max-width: 800px;
  }
}

  .porque-text {
    color: #c9c9c9;
    font-weight: 500;
    line-height: 1.8;
    font-size: 14px;
    margin-bottom: 20px;
  } 

  .slide-empresa{
    margin-top: 0px;
    margin-block: 60px;
  }


.animacao-escrevendo {
  display: inline-block;
  white-space: nowrap;
  margin: 0;
  color: #268DF3;
  font-size: 3.4rem;
}

.titulo-pq {
  font-size: 3.4rem;
  line-height: 1.2;
}


/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 720px;
  }

  .section-text {
    max-width: 645px;
  }


  /**
   * ABOUT
   */

  .porque-list {
    grid-template-columns: 1fr 1fr;
  }


}





/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {

  .container {
    max-width: 950px;
  }

  .section-text {
    max-width: 450px;
  }



  /**
   * ABOUT
   */

  .porque .container {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .porque-content {
    margin-bottom: 0;
    width: 40%;
  }

  .porque-list {
    gap: 30px;
    padding-bottom: 50px;
  }

  .porque-list li:nth-child(odd) {
    transform: translateY(50px);
  }


}


@media (min-width: 1200px) {

  .container {
    max-width: 1150px;
  }


}


@keyframes animacao {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

#descricao-pc {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
  padding-top: 30px;
  font-weight: 285;
  margin: 0 435px;
}

.paragraph {
  color: var(--text-paragraph);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
}


.p-margin-top {
  margin-top: 32px;
}

.text-align-center {
  text-align: center;
}


/* Adicione isso ao seu arquivo CSS */
#sobre {
  margin: 0 auto;
  max-width: 1050px;
  padding: 20px;
  margin: 180px auto;
}

/* PLANOS */


.main-flow {
  max-width: 130rem;
  padding: 3em 1.5em;
  display: grid;
  margin: 180px auto;
  margin-top: -40px;
  place-items: center;
  font-family: "League Spartan", system-ui, sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
  color: #ddd;
}

.main__heading {
  font-weight: 600;
  font-size: 3.25em;
  margin-bottom: 2.75em;
  text-align: center;
  color: #eceff1;
}

.cards {
  position: relative;
}

.cards__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
}

.card {
  --flow-space: 0.5em;
  --hsl: var(--hue), var(--saturacao), var(--brilho);
  flex: 1 1 14rem;
  padding: 1.5em 2em;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  align-items: start;
  gap: 1.25em;
  color: #eceff1;
  background-color: #2b2b2b96;
  border: 1px solid #eceff133;
  border-radius: 15px;
}

.card:nth-child(1) {
  --hue: 565;
  --saturacao: 92.26%;
  --brilho: 51.37%;
}

.card:nth-child(2) {
  --hue: 565;
  --saturacao: 92.26%;
  --brilho: 51.37%;
}

.card:nth-child(3) {
  --hue: 565;
  --saturacao: 92.26%;
  --brilho: 51.37%;
}

.card__bullets {
  line-height: 1.4;
  font-size: 14px;
}

.card__bullets li::before {
  display: inline-block;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='16' titulo='check' fill='%23dddddd'%3E%3Cpath d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z' /%3E%3C/svg%3E");
  transform: translatey(0.25ch);
  margin-right: 1ch;
}

.card__heading {
  background: linear-gradient(190deg, #244ffa, #96dbf0, #20d1fd, #244ffa);
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 55px;
  background-size: 400%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  /* animation: animacao 10s linear infinite; */
}


.card__price {
  font-size: 2.75em;
  text-align: center;
  padding-top: 20px;
  font-weight: 700;
}

.flow>*+* {
  margin-top: 1.25em;
}

.cta {
  display: block;
  align-self: end;
  margin: 1em 0 0.5em 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #0d0d0d;
  padding: 1.7em;
  border-radius: 10px;
  font-size: 1.8rem;
  font-weight: 600;
}

.cta:hover {
  display: block;
  align-self: end;
  margin: 1em 0 0.5em 0;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  padding: 1.7em;
  border-radius: 10px;
  font-size: 1.9rem;
  font-weight: 600;
}

.overlay .card {
  background-color: hsla(var(--hsl), 0.15);
  border-color: hsla(var(--hsl), 1);
  box-shadow: 0 0 0 1px inset hsl(var(--hsl));
}

.overlay .cta {
  display: block;
  grid-row: -1;
  width: 100%;
  background-color: hsl(var(--hsl));
  box-shadow: 0 0 0 1px hsl(var(--hsl));
}

:not(.overlay)>.card {
  transition: 400ms background ease;
  will-change: background;
}

:not(.overlay)>.card:hover {
  --brilho: 95%;
  background: hsla(var(--hsl), 0.1);
}


/* FIM PLANOS */




/* Barra de Anuncio */


.promo-bar {
  background-color: var(--cor-primaria);
  height: 45px;
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  text-align: center;
}

.titulo-promo {
  font-size: 16px;
  font-weight: 600;
}

#countdown {
  background-color: #211e29;
  border-radius: 10px;
  padding: 0 15px;
  margin-left: 15px;
}


.botao-desconto {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 30px;
  margin-left: 22px;
  font-weight: bold;
}


/* Inicio Cabeçalho */

header {
  width: 100%;
  z-index: 5000;
  /* margin-bottom: -80px; */
}

.content-header {
  max-width: 1440px;
  width: 100%;
  height: 100px;
  z-index: 99;
  margin: auto;
  padding: 0 24px;
}



.header-align {
  display: flex;
  z-index: 99;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
}

.logo {
  margin-top: 20px;
}

.content-header>nav {
  font-size: 1.5rem;
  gap: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  transition-duration: 0.3s;
  flex-wrap: wrap;
}

nav>a {
  transition-duration: 0.3s;
  margin-right: 12px;
  color: var(--text);
}

nav>a:hover {
  color: var(--cor-primaria);
}

/* Botões */

.botao-margin-top {
  margin-top: 28px;
}

.botao-icon {
  background-color: var(--cor-secundaria);
  padding: 7px;
  border-radius: 6px;
  margin-left: 24px;
  font-size: 22px;
}

.botao-login {
  background-color: var(--cor-primaria);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 16px;
  transition-duration: 0.3s;
  font-weight: 400;
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.botao-comprar {
  color: white;
  border: 1px #fff solid;
  border-radius: 8px;
  padding: 12px 16px;
  transition-duration: 0.3s;
  font-weight: 400;
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.botao-comprar:hover {
  color: #080808;
  border: 1px #fff solid;
  border-radius: 8px;
  padding: 12px 16px;
  transition-duration: 0.3s;
  font-weight: 400;
  width: max-content;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#botao-principal a:hover {
  color: rgb(0, 0, 0);
  border: 1px #fff solid;
  font-size: 2rem;
  background: #fff;
  transition-duration: 0.3s;
}


.botao-section-principal {
  background-color: var(--cor-primaria);
  color: white;
  border: none;
  border-radius: 3rem;
  font-size: 19px;
  box-shadow: 0 0 25px rgb(0, 140, 255);
  padding: 15px 40px;
  margin-top: 20px;
  align-items: center;
  font-weight: 400;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  justify-content: space-between;
  width: max-content;
}


.botao-secundario {
  color: white;
  border: 1px white solid;
  border-radius: 3rem;
  font-size: 19px;
  padding: 15px 40px;
  margin-top: 20px;
  align-items: center;
  font-weight: 400;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  justify-content: space-between;
  width: max-content;
}

.botao-secundario:hover {
  color: rgb(0, 0, 0);
  border: 1px white solid;
  border-radius: 3rem;
  background-color: #fff;
  padding: 15px 40px;
  margin-top: 20px;
  align-items: center;
  font-weight: 400;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  justify-content: space-between;
  width: max-content;
}

/* Pacotes */

.pacotes {
  padding-block: 80px;
  align-items: center;
  justify-content: center;
}

.pacotes-lista {
  
  margin-bottom: 40px;

}

.pacotes-lista>li:not(:last-child) {
  
  margin-bottom: 30px;

}

.pacotes-card {
  /* background: #fff; */
  overflow: hidden;
  border-radius: 15px;
}

.pacotes-card .card-banner {
  
  height: 250px;

}

.pacotes-card .card-banner img {
  width: 100%;
  height: 100%;
  height: 140%;
  object-fit: cover;
}

.pacotes-card .card-conteudo {
  padding: 30px 20px;
}

.pacotes-card .card-titulo {
  margin-bottom: 15px;
  line-height: 27px;
}

.pacotes-card .card-texto {
  line-height: 1.6;
  margin-bottom: 20px;
}

.card-meta-list {
  background: #fff;
  max-width: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 7px;
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.15);
  border-radius: 50px;
}

.card-meta-item {
  position: relative;
}

.card-meta-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -1px;
  bottom: 4px;
  width: 1px;
  background: hsla(0, 0%, 0%, 0.3);
}

/* bolinhas */

.bolinhas {
  position: absolute;
  width: 199px;
  background: linear-gradient(269deg, transparent, #3880ff);
  height: 177px;
  top: 386px;
  left: 35px;
  border-radius: 300px;
  filter: blur(88px);
  display: none;
}

.bolinhas.topo {
  position: absolute;
  background: linear-gradient(179deg, rgb(56, 128, 255), rgb(56, 128, 255));
  height: 340px;
  top: -375px;
  left: 0;
  border-radius: 197px;
  filter: blur(312px);
  align-items: center;
  display: flex;
  justify-content: center;
}

.bolinhas.posicao2 {
  position: absolute;
  background: linear-gradient(92deg, transparent, rgb(56, 128, 255));
  height: 500px;
  top: 458px;
  left: -672px;
  border-radius: 192px;
  filter: blur(194px);
  align-items: center;
  display: flex;
  justify-content: center;
  width: 578px;
  opacity: 90%;
}

.bolinhas.posicao3 {
  position: absolute;
  background: linear-gradient(92deg, transparent, rgb(56, 128, 255));
  height: 227px;
  top: 2019px;
  left: 618px;
  border-radius: 192px;
  filter: blur(237px);
  align-items: center;
  display: flex;
  justify-content: center;
  width: 400px;
  opacity: 90%;
}

.bolinhas.posicao4 {
  position: absolute;
  background: linear-gradient(92deg, transparent, rgb(56, 128, 255));
  height: 500px;
  top: 458px;
  left: 1765px;
  border-radius: 192px;
  filter: blur(194px);
  align-items: center;
  display: flex;
  justify-content: center;
  width: 578px;
  opacity: 90%;
}

.bolinhas.posicao5 {
  position: absolute;
  background: linear-gradient(92deg, transparent, rgb(56, 128, 255));
  height: 400px;
  top: 2763px;
  left: 223px;
  border-radius: 192px;
  filter: blur(194px);
  align-items: center;
  display: flex;
  justify-content: center;
  width: 400px;
  opacity: 90%;
}

.bolinhas.posicao6 {
  position: absolute;
  background: linear-gradient(92deg, transparent, rgb(56, 128, 255));
  height: 400px;
  top: 3307px;
  left: 850px;
  border-radius: 192px;
  filter: blur(194px);
  align-items: center;
  display: flex;
  justify-content: center;
  width: 400px;
  opacity: 90%;
}



.topo {
  width: 80vhvw;
}

/* fim bolinhas */

.meta-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-inline: 9px;
  color: #636773;
  font-size: 11px;
}

.meta-box>ion-icon {
  color: var(--cor-primaria);
  font-size: 13px;
}

.pacotes-card .card-preco {
  background: var(--cor-primaria);
  color: #fff;
  padding: 25px 20px;
  text-align: center;
}

.pacotes-card .card-preco .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px 15px;
  margin-bottom: 10px;
}

.pacotes-card .card-preco .reviews {
  font-size: 14px;
}

.pacotes-card .card-avaliacao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  font-size: 14px;
}

.pacotes-card .card-avaliacao ion-icon:last-child {
  color: hsl(0, 0%, 80%);
}

.pacotes-card .preco2 {
  font-size: 1.8vw;
  font-family: var(--font-principal);
  font-weight: 800;
  margin-bottom: 20px;
}

.pacotes-card .preco2 span {
  font-size: 12px;
  font-weight: initial;
}

@media (min-width: 768px) {
  .pacotes-card {
    display: grid;
    grid-template-columns: 1.3fr 1.5fr 1fr;
  }
}

@media (min-width: 768px) {
  .pacotes-card .card-preco {
    display: grid;
    place-content: center;
  }
}

@media (min-width: 768px) {
  .pacotes-card .card-conteudo {
    padding: 40px;
  }
}

.section {
  display: flex;
}

section {
  display: flex;
}

.pacotes-botao {
  /* margin-inline: 10p;  */
  border: 1px #fff solid;
  color: #fff;
  display: inline-flex;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  border-radius: 2rem;
  transition: 0.3s ease-in-out;
}


/* Fim pacotes */

.botoes-iniciais {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botoes-header {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botao-section-principal:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255),
    0 0 25px rgb(0, 140, 255),
    0 0 50px rgb(0, 140, 255),
    0 0 90px rgb(0, 140, 255);
  background-color: white;
  color: var(--cor-primaria);
}

/* SEÇÃO PRINCIPAL */


.accent {
  margin-bottom: 8px;
}


small {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--accent);
  letter-spacing: 6px;
}

.section-principal {
  /* display: flex; */
  flex-direction: row;
  /* padding-top: 35px; */
  /* background-image: url('Assets/background.webp');  */
  /* background-size: cover;  */
  background-position: center;
  align-items: center;
  width: 100%;
  height: 95vh;
}

.mapa {

  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 100%;
  width: 100%;
}

.content {
  max-width: 1440px;
  margin: auto;
  padding: 90px 0px;
  width: 100%;
  text-align: center;
}

.section-barra-anuncio {
  /* max-width: 1440px; */
  margin: auto;
  padding: 0 100px;
  width: 100%;
  text-align: center;
}



.paragraph-card {
  font-size: 14px;
  font-weight: bold;
  color: var(--text-paragraph);
  line-height: 1.6;
  letter-spacing: 1px;
}


/* Intro Cortina */

.cortina-container {
  position: fixed;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.oferecemos{
  color: #268DF3;
  font-size: 5rem;
}

.cortina {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  /* Metade da largura da tela */
  background-color: #212121;
}

.cortina-esquerda {
  left: 0;
}

.cortina-direita {
  right: 0;
}


/* Intro Cortina */



/* FAQ 2 */

.a-link {
  color: var(--tertiary-color);
}


.faq-titulo {
  font-size: 2rem;
  color: var(--text);
  font-weight: 500;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  line-height: 1.6;
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
  border: 1px solid rgba(255, 255, 255, 0.089);
  border-radius: 8px;
  padding: 20px 24px;
  transition: all 0.6s;
}

.faq-titulo:hover {
  filter: brightness(1.2);
}




/* RODAPÉ OFICIAL */

.footer {
  background: #080808;
}

.footer-top {
  padding-block: 80px;
}

.footer-redes {
  margin-bottom: 50px;
}

.footer-redes .logo {
  width: 160px;
  margin-bottom: 20px;
}

.footer-texto {
  color: #c2c2c2;
  line-height: 1.8;
  margin-bottom: 30px;
}

.footer .social-lista {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.footer .redesocial-link {
  background: #2a2a32;
  color: #c2c2c2;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  font-size: 18px;
  border-radius: 50%;
  border: 1px solid #2a2a32;
}

.footer .redesocial-link:is(:hover, :focus) {
  background: #121217;
  color: #fff;
}

.footer-link-cursos {
  display: grid;
  gap: 30px;
}

.footer-lista {
  max-width: 230px;
}

.footer-lista li:first-child {
  margin-bottom: 10px;
}

.footer-link-titulo {
  color: #fff;
  font-size: 20px;
}

.footer-link {
  color: #c2c2c2;
  padding-block: 10px;
}

.footer-link:is(:hover, :focus) {
  color: #fff;
  transform: translateX(3px);
}

.footer .contato-footer {
  padding-block: 10px;
}

.footer .contato-footer span {
  display: inline-block;
  color: #fff;
  font-weight: 600;
}

.footer .contato-link {
  display: inline-block;
  color: #c2c2c2;
  font-weight: 600;
}

.footer .contato-link address {
  font-style: normal;
}

.footer-bottom {
  padding-block: 20px;
  border-top: 1px solid #797979;
}

.copyright {
  color: #c2c2c2;
  line-height: 1.7;
  text-align: center;
}

.copyright a {
  display: inline-block;
  color: inherit;
}

.copyright a:is(:hover, :focus) {
  color: #fff;
}


@media (min-width: 550px) {

  .footer-link-cursos {
    grid-template-columns: 1fr 1fr;
  }

}

@media (min-width: 768px) {

  .footer-texto {
    max-width: 400px;
  }

}


@media (min-width: 1024px) {

  .footer-link-cursos {
    grid-template-columns: repeat(4, 1fr);
  }

}


/* RODAPÉ */

details summary::after {
  content: '+';
  font-size: 2.4rem;
  margin-top: -5px;
  font-weight: normal;
  margin-left: 8px;
}

details[open] summary::after {
  content: '-';
  font-size: 2.4rem;
  margin-top: -5px;
  margin-right: 3px;
  font-weight: normal;
  margin-left: 8px;
}



#faq {
  padding-bottom: 0;
}

/* FIM FAQ */


/* CSS CURSOS */
a {
  text-decoration: none;

  color: currentColor;
}

li {
  list-style: none;
  color: #f4f3f3;
  line-height: 2;
}

span {
  font-size: 14px;
  text-align: center;
  top: 200px;
}

p {
  font-weight: 500;
}



/*-----------------------------------*\
  #sobre
\*-----------------------------------*/

.sobre .container-sobre {
  display: grid;
  gap: 30px;
  margin-inline: auto;
  align-items: center;
  justify-items: center;
}

.sobre-banner {
  filter: drop-shadow(2px 2px 5px hsla(0, 0%, 0%, 0.08));
}

.sobre-texto {
  line-height: normal;
}

.sobre .sobre-texto {
  margin-block: 20px 13px;
}

.sobre-lista {
  margin-block-end: 50px;
}

.sobre-lista .item-lista {
  font-size: 2rem;
  font-weight: 600;
  padding-inline-start: 20px;
  line-height: 1.5;
}

.sobre-lista .item-lista:not(:last-child) {
  margin-block-end: 15px;
}

.sobre-lista .item-lista::before {
  top: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #29b061;
}

.sobre .sobre-botaogp {
  justify-content: flex-start;
}

.sobre .sobre-botaogp .flex-btn {
  gap: 10px;
}

.sobre .btn-icon ion-icon {
  color: #29b061;
  font-size: 40px;
}

.sobre .sobre-botaogp .span {
  color: #29b061;
  font-size: 2.4rem;
  font-weight: 600;
}

.descricao-cartao {
  color: #ccc;
  font-size: 13px;
}

.w-100 {
  width: 100%;
  height: 100%;
}

@media (min-width: 1200px) {
  .sobre .container-sobre {
    grid-template-columns: 1fr 0.7fr;
    margin-inline: auto;
  }

}

@media (min-width: 992px) {
  .sobre .container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}



/* Slide Empresa */

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

.slide-empresa {
  height: 120px;
  padding-bottom: 0px;
  width: 1100px;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-block: 230px;
  overflow: hidden;
  position: relative;
  margin-top: 320px;
}


.slide-empresa::before, .slide-empresa::after {

  background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, #0c0c0c 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 200px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slide-empresa::after {
  right: 0;
  top: 0;
  left: 904px;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.slide-empresa::before {
  left: 0;
  top: 0;
}

.slide-empresa .empresa-logo-main {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: -webkit-box;
  display: flex;
  width: calc(250px * 14);
}

.slide-empresa .empresa-logo {
  height: 100px;
  width: 250px;
}




#inicio {
  padding-bottom: 300px;
}

hr {
  border: none;

  height: 0;

  border-bottom: 1px solid #ddd;
}

.preco__card .preco {
  font-size: 55px;
  text-align: center;
  font-weight: 670;
  padding-bottom: 10px;
  color: #FFF;
  letter-spacing: -1px;
}

.descricao-preco {
  font-weight: 300;
  font-style: normal;
  text-align: center;
  padding: 10px;
  font-size: 15px;
}

.azul-negrito {
  color: #268DF3;
}


.btn {
  display: inline-flex;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  border-radius: 2rem;
  transition: 0.3s ease-in-out;
}

.negrito-parcela {
  color: #fff;
}

.btn2 {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  justify-content: center;
  padding: 1rem 1rem;
  border-radius: 2rem;
  transition: 0.3s ease-in-out;
}

.empresa-logo img{
  width: 130px;
  height: 40px;
}



.bg__accent {
  background: var(--cor-primaria);

}

.bg__accent-2 {
  background: var(--background-secundario);

}

.bg__accent-3 {
  display: inline-flex;
  align-items: center;
  background-color: #268DF3;
  font-size: 16px;
  justify-content: center;
  padding: 15px 80px;
  border-radius: 70px;
  transition: 0.3s ease-in-out;
}

.bg__accent-3:hover {
  display: inline-flex;
  align-items: center;
  color: var(--cor-primaria);
  margin: 0 30px;
  justify-content: center;
  padding: 10px 10px;
  border: solid 2px var(--cor-primaria);
  transition: 0.3s ease-in-out;
}


.bg__accent-4 {
  color: #fff;
  display: inline-flex;
  align-items: center;
  margin: 0 30px;
  justify-content: center;
  padding: 10px 10px;
  border: solid 2px #ffffff;
  transition: 0.3s ease-in-out;
}

.pacotes-botao:hover {
  display: inline-flex;
  /* color: #ffffff; */
  align-items: center;
  justify-content: center;
  /* border: solid 2px #7700EE; */
  transition: 0.3s ease-in-out;
  color: var(--cor-primaria);
  background-color: #fff;

}




/* FAQ 2 */

.a-link {
  color: var(--tertiary-color);
}

.faq-todos {
  margin-top: 40px;
  gap: 16px;
  max-width: 454px;
  display: flex;
  flex-direction: column;
}

.titulo-todos {
  font-size: 1.6rem;
  color: var(--text);
  font-weight: 500;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;

  background-color: var(--background-secundario);
  border-radius: 8px;
  padding: 20px 24px;
  transition: all 0.6s;
}

.titulo-todos:hover {
  filter: brightness(1.2);
}

.faq-conteudo {
  font-size: 1.8rem;
  padding: 20px;
  max-width: 600px;
  /* Ajuste o valor conforme necessário para o seu layout */
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
}

details[open] summary {
  background-color: var(--cor-primaria);
  color: white;
}

/* Media */


@media (max-width: 375px) {
  #titulo-mob {
    font-size: 4rem;
  }

  .texto-destaque{
    /* font-size: 3.7rem; */
  }
}

@media (max-width: 640px) {
  .conv-mob {
    align-items: center !important;
    text-align: center;
  }

  .conv-mob-infos {
    background: var(--background-secundario);
    padding: 24px;
    border-radius: 8px;
    width: 100%;
  }

  .section-principal {
    display: flex;
    flex-direction: row;
    padding-top: 35px;
    justify-content: space-between;
    align-items: center;
    height: 70rem;
  }

}


.content-barra-anuncio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.botao-desconto {
  display: none !important;
}

@media (max-width: 640px) {

  /* HEADER */
  .content-header>nav {
    display: none;
  }

  header {
    margin-bottom: 0;
  }

  .header-align {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 64px;
  }
}


/* GERAL */

h2 {
  font-size: 30px;
}

.paragraph {
  font-size: 14px;
  font-weight: normal;
}

.section-principal>.content {
  padding: 64px 24px;
  width: 100%;
  height: 100%;
  gap: 96px;
  padding-bottom: 32px;
}

#inicio {
  width: 100%;
  height: 100%;
}

#img-curso-mob {
  margin-bottom: 40px;
}

.botao-section-principal {
  font-size: 15px;
}

#imagem-main-pc {
  display: none;
}

#imagem-main-pc {
  display: none;
}

.content {
  padding: 0 24px;
  width: 100%;
}

html {
  font-size: 50%;
}


.card-largura-infos {
  padding: 32px 32px;
}

.flex-row-stretch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.flex-row-between {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}


.card-largura-45 {
  width: 100%;
}

.section-padding-96 {
  padding: 64px 0;
}



#cards1 {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.paragraph-card {
  font-size: 12px;
}

.card {
  padding: 24px;
}

#cards-bene-mob {
  margin-top: 64px !important;
}


/* FAQ */

.titulo-todos {
  text-align: start;
}

#faq {
  padding-bottom: 0;
}


/* TÍTULOS SEM BR */


#titulo-mob-bar {
  font-size: 3rem;
}

h1 {
  font-size: 5rem;
}



@media (max-width: 375px) {
  #titulo-mob {
    font-size: 4rem;
    text-align: center;
  }
}



.content-infos {
  max-width: 1320px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-row-stretch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.flex-row-top {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  margin-bottom: 75px;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.btn-tertiary-otimizate:hover {
  gap: 12px
}

.btn-tertiary-icon-otimizate {
  color: var(--otimizate-color);
  display: flex;
  font-size: 16px;
}

/* SEÇÃO PRINCIPAL */


/* SEÇÃO 2 */


.list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin: 32px 0;
}

.list-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.list-span-color-size>div>span {
  font-size: 1.4rem;
  color: var(--text);
}

@media (max-width: 640px) {
  .list-span-color-size>div>span {
    font-size: 14px;
    text-align: start;
  }

  .position-sticky {
    position: sticky;
    top: 0px;
  }

  /* SEÇÃO 3 */

  .card-largura-infos {
    padding: 32px 32px;
  }

  .flex-row-stretch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .flex-row-between {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .card-largura {
    width: 100%;
  }

  .card-largura-45 {
    width: 100%;
  }

  .section-padding-96 {
    padding: 64px 0;
  }

  #cards1 {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
  }


  .card-largura-70 {
    width: 100%;
  }
}

/* Teste Infos */

@media (min-width: 1200px) {
  .container {
    max-width: 1180px;
  }
}

/* Responsivo Texto */

.ocultarDesktop {
  display: none;
}

.ocultarMobile {
  display: flex;
}

@media (max-width: 425px) {
  #titulo-pc {
    font-size: 35px;
    line-height: 35px;
  }

  .ocultarDesktop {
    display: flex;
  }

  .main-flow{
    margin-top: -20px;
  }

  .ocultarMobile {
    display: none;
  }

  .iconMenu {
    width: 50px;
    height: 50px;

    margin: 10px;
  }

  .botaoHeader {
    margin: 20px;
    width: 100%;
    text-align: center;
  }


  .botaoHeader {
    width: 100;
  }

  #countdown {
    background-color: #211e29;
    border-radius: 10px;
    padding: 0 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  #escurecimentoFundo {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;

    opacity: 0;

    transition: opacity 0.5s ease;
  }

  .titulo-promo {
    font-size: 12px;
    font-weight: 600;
  }

  .botao-login {
    display: flex;
    width: 260px;
    align-items: center;
    flex-direction: column;
  }

  .botao-comprar {
    display: flex;
    width: 260px;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .botao-comprar:hover {
    display: flex;
    width: 260px;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  #inicioMenuMobile {
    display: none;
    flex-direction: column;

    width: 300px;
    height: 100vh;

    z-index: 10;

    position: fixed;
    top: 0;
    right: -300px;

    background-color: rgb(10, 149, 195, 0.1);
    backdrop-filter: blur(20px);

    transition: right 0.5s ease;
  }

  .texto-destaque {
    color: var(--cor-primaria) !important;
    font-size: 35px;
    font-weight: 600;
    text-shadow: 0 0 25px rgb(0, 140, 255);
  }

  #descricao-pc {
    font-size: 15px;
    color: #fff;
    margin: 0 30px;
    text-align: center;
    margin-bottom: 15px;
    padding-top: 30px;
    font-weight: 285;
  }

  .logo {
    position: absolute;
    left: 0;
    margin: -45px 12px;
    align-items: center;
    justify-content: center;
    margin-top: -40px;

  }

  .container{
    margin: 10px
  }
}

@media (max-width: 600px) {
  #titulo-pc {
    font-size: 65px;
    line-height: 65px;
  }

  .texto-destaque {
    color: var(--cor-primaria) !important;
    font-size: 65px;
    font-weight: 600;
    text-shadow: 0 0 25px rgb(0, 140, 255);
  }

  #descricao-pc {
    font-size: 15px;
    color: #fff;
    margin: 0 30px;
    text-align: center;
    margin-bottom: 15px;
    padding-top: 30px;
    margin: 0 100px;
    font-weight: 285;
  }
}


@media (max-width: 1440px){
}

@media (max-width: 500px) {
  #titulo-pc {
    font-size: 55px;
    line-height: 55px;
  }

  .slide-empresa img {
    width: 127px;
    height: auto;
  }

  .slide-empresa .empresa-logo {
    height: 100px;
    width: 175px;
}

  .slide-empresa::after{
    left: 303px;
  }

  .texto-destaque {
    color: var(--cor-primaria) !important;
    font-size: 55px;
    font-weight: 600;
    text-shadow: 0 0 25px rgb(0, 140, 255);
  }

  #descricao-pc {
    font-size: 15px;
    color: #fff;
    margin: 0 30px;
    text-align: center;
    margin-bottom: 15px;
    padding-top: 30px;
    margin: 0 53px;
    font-weight: 285;
  }
}

@media (max-width: 420px) {
  #titulo-pc {
    font-size: 55px;
    line-height: 55px;
  }

  .texto-destaque {
    color: var(--cor-primaria) !important;
    font-size: 55px;
    font-weight: 600;
    text-shadow: 0 0 25px rgb(0, 140, 255);
  }

  #descricao-pc {
    font-size: 15px;
    color: #fff;
    margin: 0 30px;
    text-align: center;
    margin-bottom: 15px;
    padding-top: 30px;
    margin: 0 25px;
    font-weight: 285;
  }
}


@media (max-width: 375px) {
  .texto-destaque {
    color: var(--cor-primaria) !important;
    /* font-size: 3.7rem; */
    font-weight: 650;
  }
}

@media (max-width: 640px) {
  #descricao-pc {
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
    padding-top: 30px;
    font-weight: 285;
  }

  .section-principal {
    display: flex;
    flex-direction: row;
    padding-top: 35px;
    justify-content: space-between;
    align-items: center;
    height: 70rem;
  }

  .imagem-de-fundo{
    max-width: 90%;
  }

  
  #iconMenuBurger {
    position: absolute;
    margin: 0px 10px;
    right: 0;
  }

}


/* TESTEEEEEEEE */

/* #sobre */
.sobre {
  padding-block: 80px;
}

.sobre .titulo-sobre {
  margin-bottom: 15px;
  letter-spacing: -2px;
  font-size: 5rem;
  text-align: center;
}

.sobre .secao-texto {
  margin-bottom: 190px;
  text-align: center;
  font-size: 2.5rem;

}

.sobre-wrapper:not(:last-child) {
  margin-bottom: 80px;
}

.sobre-banner {
  margin-bottom: 35px;
}

.sobre-banner img {
  width: 100%;
}

.sobre-conteudo-subtitulo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
}

.sobre-conteudo-subtitulo ion-icon {
  color: #c544ff;
  font-size: 20px;
}

.titulo-mapa {
  align-items: center;
  text-align: center;
}

.sobre-conteudo-titulo {
  font-size: 28px;
  color: #fff;
  letter-spacing: -2px;
  font-weight: 600;
  margin-bottom: 25px;
}

.sobre-conteudo-titulo strong {
  font-weight: 700;
}

.sobre-texto-conteudo {
  font-size: 15px;
  color: #fff;
  line-height: 1.7;
  margin-bottom: 25px;
}

.sobre-list {
  margin-bottom: 40px;
}

.sobre-lista {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  font-size: 15px;
  color: #8fc2f5;
  margin-bottom: 10px;
}

.sobre-lista ion-icon {
  font-size: 23px;
}

.sobre-lista p {
  width: calc(100% - 28px);
}

@media screen and (max-width:450px) {
  .sobre-wrapper{
    display: flex !important ;
    flex-direction: column;
    
  }
  .dois {
    flex-direction: column-reverse;
  }

}


.botao-grupo {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}


/**
   * sobre
   */

.sobre-wrapper {
  display: grid ;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 90px;
}


.sobre-wrapper:not(:last-child) {
  margin-bottom: 100px;
}

/* .sobre-wrapper:last-child .sobre-banner {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
} */



.section-mapa {
  display: flex;
  flex-direction: column;
}

/* TESTEEEEEEEEE */