@import url('https://fonts.cdnfonts.com/css/poppins');

    
:root {
    --font-primary: 'Poppins', sans-serif;
    --font-secunday: 'Poppins', sans-serif;

    --otimizate-color: #00FF66;
    --border-color: #23263a;
    --primary-color: #6e52ff;
    --secondary-color: #6247ed;
    --bg-primary: #151524;
    --text: #a4a6c1;
    --text-paragraph: #818398;
    --accent: #6e7090;
    --bg-secondary: #1b1b32;
    --bg-tertiary: #141424;

}



* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    color: white;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    border: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

#inicio {
    width: 100%;
    height: 100%;
}

    .list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 32px 0;
    }

body {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    border: none;
    background: var(--bg-tertiary);
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3.4rem;
    line-height: 1.2;
}

h3 {
    font-size: 2.4rem;
}

b {
    color: var(--text);
}

p {
    font-family: var(--font-secundary);
    font-size: 1.4rem;
    color: var(--text);
}

s {
    text-decoration: line-through !important;
}

a {
    transition-duration: 0.3s;
}

button {
    background-color: transparent;
    color: transparent;
    border: none;
    text-decoration: none;
    /* width: 100%; */
}

.texto-destaque {
    color: var(--primary-color) !important;
    font-size: 5rem;
}

#descricao-pc{
    font-size: 25px;
    color: #fff;
    margin-bottom: 15px;
}

.paragraph {
    color: var(--text-paragraph);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
}

.p-margin-top {
    margin-top: 32px;
}

.text-align-center {
    text-align: center;
}

.accent {
    margin-bottom: 8px;
}

/* Barra de Anuncio */

.section-barra-anuncio{
    background-color: var(--primary-color);
    height: 40px;
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content-barra-anuncio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content-barra-anuncio>span{
    color: white;
    text-align: center;
}

.content-barra-anuncio>span>b{
    color: white;
}

.botao-desconto{
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 30px;
    margin-left: 22px;
    font-weight: bold;
}

/* Inicio Cabeçalho */

header {
    background-color: var(--bg-secondary);
    width: 100%;
    z-index: 5000;
    /* margin-bottom: -80px; */
}

.content-header {
    max-width: 1440px;
    width: 100%;
    height: 100px;
    z-index: 99;
    margin: auto;
    padding: 0 24px;
}

.header-align {
    display: flex;
    z-index: 99;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 64px;
}

.content-header>nav {
    font-size: 1.4rem;
    gap: 12px;
    display: flex;
    align-items: center;
    flex-direction: row;
    transition-duration: 0.3s;
    flex-wrap: wrap;
}

nav>a {
    transition-duration: 0.3s;
    margin-right: 12px;
    color: var(--text);
}

nav>a:hover {
    color: var(--primary-color);
}

/* Botões */

.botao-margin-top {
    margin-top: 28px;
}

.botao-icon {
    background-color: var(--secondary-color);
    padding: 7px;
    border-radius: 6px;
    margin-left: 24px;
    font-size: 22px;
}

.botao-login {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 16px;
    font-size: 1.4rem;
    transition-duration: 0.3s;
    font-weight: 400;
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.botao-login:hover {
    background-color: white;
    color: var(--primary-color);
}

.botao-section-principal{
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.4rem;
    padding: 12px 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: space-between;
    width: max-content;
}

.botao-section-principal:hover {
    box-shadow: 0 10px 20px -15px var(--primary-color);
    background-color: white;
    color: var(--primary-color);
}

/* SEÇÃO PRINCIPAL */

.section-principal {
    background-image: url(/Assets/foto-principal\ pc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.accent {
    margin-bottom: 8px;
}

small {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--accent);
    letter-spacing: 6px;
}

.section-principal {
    display: flex;
    flex-direction: row;
    padding-top: 35px;
    justify-content: space-between;
    align-items: center;
    /* height: 100%; */
}

.content {
    /* max-width: 1440px; */
    margin: auto;
    padding: 0 100px;
    width: 100%;
}


.content-infos {
    max-width: 1320px;
}

/* Cards */

.card {
    background-color: var(--bg-secondary);
    border-radius: 16px;
    padding: 32px 32px 40px 32px;
    transition-duration: 0.5s;
}

.card-gap {
    gap: 24px;
}

.card-width {
    width: 50%;
}

.paragraph-card {
    font-size: 14px;
    font-weight: bold;
    color: var(--text-paragraph);
    line-height: 1.6;
    letter-spacing: 1px;
}


/* CARDS ICONS */

.card-icon-bg {
    width: 64px;
    height: 64px;
    background-color: red;
    border-radius: 8px;
    margin-right: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-card-size {
    font-size: 32px;
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.flex-row-stretch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.card-icon-bg-1 {
    background-color: #011F3B;
    border: 2px solid #1790FF;
}

.card-icon-bg-1>ion-icon {
    color: #1790FF;
}

.card-icon-bg-2 {
    background: #340101;
    border: 2px solid #F21818;
}

.card-icon-bg-2>ion-icon {
    color: #F21818;
}

.card-icon-bg-3 {
    background: #2A2601;
    border: 2px solid #CDB900;
}

.card-icon-bg-3>ion-icon {
    color: #CDB900;
}


.card-icon-bg-4 {
    background: #104e3d;
    border: 2px solid #00F79B;
}

.card-icon-bg-4>ion-icon {
    color: #00F79B;
}


/* CSS CURSOS */
a {
    text-decoration: none;
  
    color: currentColor;
  }
  
  li {
    list-style: none;
    color: #f4f3f3;
    line-height: 2;
  }
  
  span {
    font-size: 14px;
  }
  
  p {
    font-weight: 500;
  }
  
  .preco__section {
    margin-block: 4rem;
    /* text-align: center; */
  }
  
  
  .wrapper {
    max-width: 1240px;
  
    margin-inline: auto;
  
    padding-inline: 5rem;
  }
  
  .titulo__plano {
    text-align: center;
  
    display: grid;
  
    gap: 2rem;
  
    place-items: center;
  }
  
  .titulo__plano h2 {
    font-size: 40px;
  }
  

  #coricon{
    color: #7700EE;
  }

  #coricon3{
    color: #FFF;
  }

  .cortexto{
    color: #FFF;
  }
  
  .preco__cards {
    margin-block: 2rem;
  
    display: grid;
  
    gap: 2rem;
  
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
  
  .preco__card {
    padding: 2rem 1.5rem;
  
    box-shadow: 1px 0 94px #8714faa7;
  
    border-radius: 1rem;
  
    display: inline-flex;
  
    gap: 1.1rem;
  
    flex-direction: column;
  }
  
  .preco__details {
    flex: 1 1 auto;
  }
  
  .preco__details h3 {
    font-size: 32px;
    line-height: 1.7;
  }
  
  .preco__details ul {
    margin-bottom: 1rem;
    margin-top: 4rem;
    line-height: 30px;

  }
  
  .preco__details ul li::before {
  
    margin-right: 8px;
  
    font-weight: bold;
  }
  
  hr {
    border: none;
  
    height: 0;
  
    border-bottom: 1px solid #ddd;
  }
  
  .preco__card .preco {
    font-size: 32px;
  
    font-weight: 600;
  
    letter-spacing: -2px;
  }
  
  .preco__card .preco:before {
    content: "R$ ";
  }
  
  .btn {
    display: inline-flex;
  
    align-items: center;
  
    justify-content: center;
  
    padding: 1rem 1rem;
  
    border-radius: 2rem;
  
    transition: 0.3s ease-in-out;
  }

  .btn2 {
    display: inline-flex;
  
    align-items: center;
  
    justify-content: center;
  
    padding: 1rem 1rem;
  
    border-radius: 2rem;
  
    transition: 0.3s ease-in-out;
  }
  
  .fa-solid .fa-credit-card{
    color: aqua;
    background-color: #272727;
  }
  
  .fa-solid, .fas {
    font-weight: 900;
    scale: 1.1;
    padding: 0 10px;
}

  .bg__accent {
    background: var(--primary-color);

  }
  
  .bg__accent-2 {
    background: var(--bg-secondary);

  }

  .bg__accent-3 {
    display: inline-flex;
    align-items: center;
    margin: 0 30px;
    justify-content: center;
    padding: 10px 10px;
    border: solid 2px #7700EE;
    transition: 0.3s ease-in-out;
  }

  .bg__accent-3:hover {
    display: inline-flex;
    align-items: center;
    color: var(--primary-color);
    margin: 0 30px;
    justify-content: center;
    padding: 10px 10px;
    border: solid 2px #7700EE;
    transition: 0.3s ease-in-out;
  }


  .bg__accent-4 {
    color: #fff;
    display: inline-flex;
    align-items: center;
    margin: 0 30px;
    justify-content: center;
    padding: 10px 10px;
    border: solid 2px #ffffff;
    transition: 0.3s ease-in-out;
  }
  
  .bg__primary {
    background: var(--primary-color);
  
    color: fff;
  }
  
  .btn:hover {
    display: inline-flex;
    /* color: #ffffff; */
    align-items: center;
    justify-content: center;
    /* border: solid 2px #7700EE; */
    transition: 0.3s ease-in-out;

  }

  .btn2:hover {
    display: inline-flex;
    color: #ffffff;
    scale: 1.2;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;

  }

  i.fa-solid, i.fa-rocket{
    color: #fff;
  }


  a.btn:hover .fa-solid, a.btn, .fa-rocket  {
    color: fff;
    background-color: var(--primary-color);
    transition: 0.3s ease-in-out;
  }
