@import '../style.css';

main {
    display: flex;
    flex-direction: row;
}

/* trocar paginas */
.escondido {
    display: none;
}

.secao {
    display: none;
    
    margin: 0px 10px;
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
}

/* menu burger */
#menuBurger {
    display: flex;
    flex-direction: column;

    align-items: center;

    z-index: 1;

    width: 300px;
    height: 100vh;
    background-color: var(--cor-primaria);

    /* box-shadow: 5px 5px 15px 10px var(--cor-primaria); */
}

#titulo {
    margin-top: 10px;
}

/* ---perfil */
#perfil {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    height: 150px;

    margin: 50px 0px;
}

#perfil-img {
    width: 75px;
    height: 75px;
    border-radius: 50%;

    margin: 20px 0px;

    background-color: aqua;
}

/* opcoes */
.opcao-menuBurger {
    display: flex;

    align-items: center;

    width: 300px;
    height: 75px;

    transition: 100ms ease;

    cursor: pointer;
}

.opcao-icone {
    display: flex;
    width: 100px;
    height: 75px;

    align-items: center;
    justify-content: center;
}

.opcao-menuBurger:hover {
    background-color: #185a9b;
    /* <--------- mudar isso ------------ */
}

#sair-menu {
    display: flex;
    position: absolute;

    bottom: 20px;
}

/* corpo perfil */
#principal-perfil {

    width: auto;
    height: 100vh;

    margin-right: 25px;
    margin-left: 25px;
}

/* ---------- DASHBOARD ---------- */
#dashboard {
    display: flex;
    margin: 0px 10px;
    width: 100%;
    height: 100%;

    align-items: center;
}

#container-progresso {
    width: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
}

/* ---caixa padrao dashboard */
.box-progresso {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 300px;
    height: 300px;

    margin: 10px 5px;
    border-radius: 25px;

    background-color: var(--background-secundario);
}

.box-grafico-circulo {
    width: 150px;
    height: 150px;

    align-items: center;
    justify-content: center;

    position: relative;

    margin: 10px 0px;
}

/* --- --- grafico circulo */
svg {
    width: 150px;
    height: 150px;

    transform-origin: center;
    /* Define o ponto de origem da rotação (centro) */
    transform: rotate(-90deg);
    /* Rotaciona o elemento em 45 graus */

}

circle {
    width: 150px;
    height: 150px;
    fill: none;
    stroke: var(--background-principal);
    stroke-width: 10;
    transform: translate(5px, 5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

circle:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: var(--background-principal);
}

/* --- --- --- calculo porcentagem circulo --- --- --- */
circle:nth-child(2) {
    /* stroke-dashoffset: calc(440 - 220); */
    transition: stroke-dashoffset 0.8s;
    stroke: var(--cor-primaria);
}

.porcentagem {
    display: flex;

    justify-content: center;
    align-items: center;

    position: absolute;

    z-index: 1;

    top: 0;
    left: 0;

    width: 150px;
    height: 150px;

    color: #fff;
}

/* botaoDashboard */
.botaoDashboard {
    width: 150px;
    height: 50px;
    background-color: #00FF66;

    border-radius: 30px;

    margin: 20px 0px;
    color: #fff;
    font-size: 20px;
}


/* ---caixa grafico dashboard */
#grafico-dashboard {
    width: 610px;
}

/* ---------- CURSOS ---------- */
#cursos {
    display: none;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.curso {
    flex-direction: column;

    position: relative;

    align-items: center;
    justify-content: center;

    width: 375px;
    height: 600px;

    background-color: var(--background-secundario);
    background-image: url(../Assets/technology.jpg);

    border-radius: 15px;

    margin: 5px;
}

.informacoesCurso {
    display: flex;
    flex-direction: column;
    position: absolute;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 125px;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    border-top: 5px solid var(--cor-primaria);

    background-color: rgb(0, 0, 0, 0.75);

    bottom: 0;

    transition: 500ms;
}

