@import '../style.css';

main {
    display: flex;
    flex-direction: row;

    background-color: var(--background-principal);
    background-image: linear-gradient(to right, var(--cor-primaria), var(--background-principal));
}

.ocultarOriginal {
    display: none;
}

/* trocar paginas */
.escondido {
    display: none;
}

.titulosMobile {
    display: none;
}

.secao {
    display: none;
    
    margin: 0px 10px;
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
}

/* menu burger */
#menuBurger {
    display: flex;
    flex-direction: column;

    align-items: center;

    z-index: 1;

    width: 300px;
    height: 100vh;
    background-color: var(--background-secundario);
}

.titulo {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 75px;
}

.barra-divisao {
    width: 100%;
    height: 5px;

    background-color: #fff;
}

/* ---perfil */
#perfil {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    height: 150px;

    margin: 100px 0px;
}

#perfil-img {
    width: 75px;
    height: 75px;
    border-radius: 50%;

    margin: 20px 0px;

    background-image: url(assets-perfil/userSemFoto.svg);
    background-size: cover;
}

/* opcoes */
.opcao-menuBurger {
    display: flex;

    align-items: center;

    width: 300px;
    height: 75px;

    transition: 100ms ease;

    cursor: pointer;
}

.opcao-icone {
    display: flex;
    width: 100px;
    height: 75px;

    align-items: center;
    justify-content: center;
}

.opcao-nome {
    margin-left: 5px;
}

.opcao-menuBurger:hover {
    background-color: var(--cor-primaria);
}

#sair-menu {
    display: flex;
    position: absolute;

    bottom: 20px;
}

/* corpo perfil */
.principal {

    width: 100%;
    height: 100vh;

    margin-right: 25px;
    margin-left: 25px;
}

/* ---------- DASHBOARD ---------- */
#dashboard {
    display: flex;
    margin: 0px 10px;
    width: 100%;
    height: 100%;

    align-items: center;
}

#container-progresso {
    width: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
}

/* ---caixa padrao dashboard */
.box-progresso {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 300px;
    height: 300px;

    margin: 10px 5px;
    border-radius: 25px;

    background-color: var(--background-secundario);
}

.box-grafico-circulo {
    width: 150px;
    height: 150px;

    align-items: center;
    justify-content: center;

    position: relative;

    margin: 10px 0px;
}

/* --- --- grafico circulo */
svg {
    width: 150px;
    height: 150px;

    transform-origin: center;
    /* Define o ponto de origem da rotação (centro) */
    transform: rotate(-90deg);
    /* Rotaciona o elemento em 45 graus */

}

circle {
    width: 150px;
    height: 150px;
    fill: none;
    stroke: var(--background-principal);
    stroke-width: 10;
    transform: translate(5px, 5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

circle:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: var(--background-principal);
}

/* --- --- --- calculo porcentagem circulo --- --- --- */
circle:nth-child(2) {
    /* stroke-dashoffset: calc(440 - 220); */
    transition: stroke-dashoffset 0.8s;
    stroke: var(--cor-primaria);
}

.porcentagem {
    display: flex;

    justify-content: center;
    align-items: center;

    position: absolute;

    z-index: 1;

    top: 0;
    left: 0;

    width: 150px;
    height: 150px;

    color: #fff;
}

/* botaoDashboard */
.botaoDashboard {
    width: 150px;
    height: 50px;
    background-color: var(--corBotaoDestaque);

    border-radius: 30px;

    margin: 20px 0px;
    color: #fff;
    font-size: 20px;

    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}


/* ---caixa grafico dashboard */
#grafico-dashboard {
    display: flex;
    width: 610px;
}

/* ---------- CURSOS ---------- */
#cursos {
    display: none;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
}

/* banners curso */
.curso {
    flex-direction: column;

    position: relative;

    align-items: center;
    justify-content: center;

    width: 375px;
    height: 600px;

    background-color: var(--background-secundario);
    background-image: url(../Assets/technology.jpg);

    border-radius: 15px;

    margin: 5px;
}

#cursoInvestimentos {
  background-image: url(assets-perfil/imgCursoInvestimento.jpg);
  background-size: cover;
}

#cursoTecnologia {
  background-image: url(assets-perfil/imgCursoTecnologia.jpg);
  background-size: cover;
}

#cursoMarketing {
  background-image: url(assets-perfil/imgCursoMarketing.jpg);
  background-size: cover;
}

.informacoesCurso {
    display: flex;
    flex-direction: column;
    position: absolute;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 175px;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    border-top: 5px solid var(--cor-primaria);

    background-color: rgb(0, 0, 0, 0.75);

    bottom: 0;

    transition: 500ms;
}

.informacoesTitulo {
    position: absolute;
    top: 20px;
}

.informacoesTexto {
    margin: 5px 25px;

    position: absolute;
    top: 60px;

    transition: 600ms ease;
}

.btnDashboardFixado {
    position: absolute;

    bottom: 20px;
}

/* ---------- ALTERACAO PERFIL ---------- */
#alteracaoPerfil {
    position: relative;

    flex-direction: column;

    z-index: 0;

    margin: 0px 10px;
    width: 100%;
    height: 100%;

    align-items: center;
}

#perfilInformacoesPrincipal {
    display: flex;
    flex-direction: row;

    align-items: center;

    width: 100%;

    margin-bottom: 25px;

}

#imagemPerfil {
    background-image: url(assets-perfil/userSemFoto.svg);
    background-size: cover;

    width: 200px;
    height: 200px;
    border-radius: 50%;

    margin: 20px;
}

/* popup Perfil */
#alteracaoPerfil-imagem {
    display: none;

    z-index: 1;

    width: 800px;
    height: 600px;
    background-color: var(--background-secundario);

    border-radius: 30px;
    border: #fff 2px solid;

    align-items: center;
    justify-content: center;

    position: absolute;

    transform: translate(25%, -112%);
}

#headerPopUpFoto {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 75px;

    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
}

#botaoSairPopupFoto {
    position: absolute;

    left: 0;

    margin: 0px 10px;
}

#botoesPopup {
    display: flex;
    flex-direction: row;
}

.botaoTrocar {
  margin: 0px 10px;
}

.botaoPopup {
    display: flex;

    width: 100px;
    height: 50px;
    
    color: #fff;

    border: 2px #fff solid;
    border-radius: 15px;

    margin: 0px 10px;

    align-items: center;
    justify-content: center;

    text-align: center;
}

.botaoPopupMaior {
    width: 150px;

    align-items: center;
    justify-content: center;
}



#foto {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-size: cover;
    background-position: 50%;
    margin: 20px;

    background-color: #000
}

#camera {
    width: 400px;
    height: 300px;
    margin: 20px;

    border-radius: 15px;

    background-image: url(assets-perfil/cameraIcon.svg);
    background-size: cover;
    background-repeat: no-repeat;

    border: 2px #fff solid;
}

#geracaoImagem {
    display: flex;
    flex-direction: row;
}

#cameraImagem {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#areaFoto {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

/* --- alterar dados --- */
.inputInformacoes {
    display: flex;

    width: 400px;
    height: 50px;

    padding: 20px;

    background-color: var(--background-principal);

    border-radius: 5px;

    color: #fff;

    border-style: none;
}

.formTrocarInfo {
    display: flex;
    flex-direction: row;
}

.formTrocarInformacoes {
    display: flex;
    flex-direction: column;

    margin: 25px 0px;
}

.secaoTrocarInfo {
    margin-right: 25px;
}

#alterarInfo {
    display: flex;
    flex-direction: row;

    width: 100%;
}

