@import '../style.css';

main {
    display: flex;
    flex-direction: row;

    background-color: var(--background-principal);
    background-image: linear-gradient(to right, var(--cor-primaria), var(--background-principal));
}

/* trocar paginas */
.escondido {
    display: none;
}

.secao {
    display: none;
    
    margin: 0px 10px;
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
}

/* menu burger */
#menuBurger {
    display: flex;
    flex-direction: column;

    align-items: center;

    z-index: 1;

    width: 300px;
    height: 100vh;
    background-color: var(--background-secundario);
}

.titulo {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 75px;
}

.barra-divisao {
    width: 100%;
    height: 5px;

    background-color: #fff;
}

/* ---perfil */
#perfil {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    height: 150px;

    margin: 50px 0px;
}

#perfil-img {
    width: 75px;
    height: 75px;
    border-radius: 50%;

    margin: 20px 0px;

    background-image: url(imgUserSemFoto.png);
    background-size: cover;
}

/* opcoes */
.opcao-menuBurger {
    display: flex;

    align-items: center;

    width: 300px;
    height: 75px;

    transition: 100ms ease;

    cursor: pointer;
}

.opcao-icone {
    display: flex;
    width: 100px;
    height: 75px;

    align-items: center;
    justify-content: center;
}

.opcao-nome {
    margin-left: 5px;
}

.opcao-menuBurger:hover {
    background-color: var(--cor-primaria);
}

#sair-menu {
    display: flex;
    position: absolute;

    bottom: 20px;
}

/* corpo perfil */
.principal {

    width: 100%;
    height: 100vh;

    margin-right: 25px;
    margin-left: 25px;
}

/* ---------- DASHBOARD ---------- */
#dashboard {
    display: flex;
    margin: 0px 10px;
    width: 100%;
    height: 100%;

    align-items: center;
}

#container-progresso {
    width: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
}

/* ---caixa padrao dashboard */
.box-progresso {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 300px;
    height: 300px;

    margin: 10px 5px;
    border-radius: 25px;

    background-color: var(--background-secundario);
}

.box-grafico-circulo {
    width: 150px;
    height: 150px;

    align-items: center;
    justify-content: center;

    position: relative;

    margin: 10px 0px;
}

/* --- --- grafico circulo */
svg {
    width: 150px;
    height: 150px;

    transform-origin: center;
    /* Define o ponto de origem da rotação (centro) */
    transform: rotate(-90deg);
    /* Rotaciona o elemento em 45 graus */

}

circle {
    width: 150px;
    height: 150px;
    fill: none;
    stroke: var(--background-principal);
    stroke-width: 10;
    transform: translate(5px, 5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

circle:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: var(--background-principal);
}

/* --- --- --- calculo porcentagem circulo --- --- --- */
circle:nth-child(2) {
    /* stroke-dashoffset: calc(440 - 220); */
    transition: stroke-dashoffset 0.8s;
    stroke: var(--cor-primaria);
}

.porcentagem {
    display: flex;

    justify-content: center;
    align-items: center;

    position: absolute;

    z-index: 1;

    top: 0;
    left: 0;

    width: 150px;
    height: 150px;

    color: #fff;
}

/* botaoDashboard */
.botaoDashboard {
    width: 150px;
    height: 50px;
    background-color: var(--corBotaoDestaque);

    border-radius: 30px;

    margin: 20px 0px;
    color: #fff;
    font-size: 20px;

    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}


/* ---caixa grafico dashboard */
#grafico-dashboard {
    width: 610px;
}

/* ---------- CURSOS ---------- */
#cursos {
    display: none;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.curso {
    flex-direction: column;

    position: relative;

    align-items: center;
    justify-content: center;

    width: 375px;
    height: 600px;

    background-color: var(--background-secundario);
    background-image: url(../Assets/technology.jpg);

    border-radius: 15px;

    margin: 5px;
}

.informacoesCurso {
    display: flex;
    flex-direction: column;
    position: absolute;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 175px;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    border-top: 5px solid var(--cor-primaria);

    background-color: rgb(0, 0, 0, 0.75);

    bottom: 0;

    transition: 500ms;
}

.informacoesTitulo {
    position: absolute;
    top: 20px;
}

.informacoesTexto {
    margin: 5px 25px;

    position: absolute;
    top: 60px;
}

.btnDashboardFixado {
    position: absolute;

    bottom: 20px;
}

/* ---------- ALTERACAO PERFIL ---------- */
#alteracaoPerfil {
    position: relative;

    flex-direction: column;

    z-index: 0;

    margin: 0px 10px;
    width: 100%;
    height: 100%;

    align-items: center;
}

#perfilInformacoesPrincipal {
    display: flex;
    flex-direction: row;

    align-items: center;

    width: 100%;

    margin-bottom: 25px;

}

#imagemPerfil {
    background-image: url(imgUserSemFoto.png);
    background-size: cover;

    width: 200px;
    height: 200px;
    border-radius: 50%;

    margin: 20px;
}

/* popup Perfil */
#alteracaoPerfil-imagem {
    display: none;

    z-index: 1;

    width: 800px;
    height: 600px;
    background-color: var(--background-principal);

    border-radius: 30px;
    border: #fff 2px solid;

    align-items: center;
    justify-content: center;

    position: absolute;

    transform: translate(25%, -112%);
}

#headerPopUpFoto {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 75px;

    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
}

#botaoSairPopupFoto {
    position: absolute;

    left: 0;

    margin: 0px 10px;
}

#botoesPopup {
    display: flex;
    flex-direction: row;
}

.botaoPopup {
    display: flex;

    width: 100px;
    height: 50px;
    
    color: #fff;

    border: 2px #fff solid;
    border-radius: 15px;

    margin: 0px 10px;

    align-items: center;
    justify-content: center;

    text-align: center;
}

.botaoPopupMaior {
    width: 150px;

    align-items: center;
    justify-content: center;
}



#foto {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-size: cover;
    background-position: 50%;
    margin: 20px;

    background-color: #000
}

#camera {
    width: 400px;
    height: 300px;
    margin: 20px;

    border-radius: 15px;

    background-color: #000;

    border-radius: 2px #fff solid;
}

#geracaoImagem {
    display: flex;
    flex-direction: row;
}

#cameraImagem {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#areaFoto {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

/* --- alterar dados --- */
.inputInformacoes {
    display: flex;

    width: 400px;
    height: 50px;

    padding: 20px;

    background-color: var(--background-principal);

    border-radius: 5px;

    color: #fff;

    border-style: none;
}

.formTrocarInfo {
    display: flex;
    flex-direction: row;
}

.formTrocarInformacoes {
    display: flex;
    flex-direction: column;

    margin: 25px 0px;
}

.secaoTrocarInfo {
    margin-right: 25px;
}

#alterarInfo {
    display: flex;
    flex-direction: row;

    width: 100%;
}

/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  background: #eef5fe;
}
/* Pre css */
.flex {
  display: flex;
  align-items: center;
}
.nav_image {
  display: flex;
  min-width: 55px;
  justify-content: center;
}
.nav_image img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 270px;
  background: #fff;
  padding: 15px 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}
.sidebar.close {
  width: calc(55px + 20px);
}
.logo_items {
  gap: 8px;
}
.logo_name {
  font-size: 22px;
  color: #333;
  font-weight: 500px;
  transition: all 0.3s ease;
}
.sidebar.close .logo_name,
.sidebar.close #lock-icon,
.sidebar.close #sidebar-close {
  opacity: 0;
  pointer-events: none;
}
#lock-icon,
#sidebar-close {
  padding: 10px;
  color: #4070f4;
  font-size: 25px;
  cursor: pointer;
  margin-left: -4px;
  transition: all 0.3s ease;
}
#sidebar-close {
  display: none;
  color: #333;
}
.menu_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
  overflow-y: auto;
  height: calc(100% - 82px);
}
.menu_container::-webkit-scrollbar {
  display: none;
}
.menu_title {
  position: relative;
  height: 50px;
  width: 55px;
}
.menu_title .title {
  margin-left: 15px;
  transition: all 0.3s ease;
}
.sidebar.close .title {
  opacity: 0;
}
.menu_title .line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 20px;
  border-radius: 25px;
  background: #aaa;
  transition: all 0.3s ease;
}
.menu_title .line {
  opacity: 0;
}
.sidebar.close .line {
  opacity: 1;
}
.item {
  list-style: none;
}
.link {
  text-decoration: none;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #707070;
}
.link:hover {
  color: #fff;
  background-color: #4070f4;
}
.link span {
  white-space: nowrap;
}
.link i {
  height: 50px;
  min-width: 55px;
  display: flex;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.sidebar_profile {
  padding-top: 15px;
  margin-top: 15px;
  gap: 15px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.sidebar_profile .name {
  font-size: 18px;
  color: #333;
}
.sidebar_profile .email {
  font-size: 15px;
  color: #333;
}

/* Navbar */
.navbar {
  max-width: 500px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 60%;
  transform: translateX(-50%);
  background: #fff;
  padding: 10px 20px;
  border-radius: 0 0 8px 8px;
  justify-content: space-between;
}

.navbar img {
  height: 40px;
  width: 40px;
  margin-left: 20px;
}

/* Responsive */
@media screen and (max-width: 1100px) {
  .navbar {
    left: 65%;
  }
}
@media screen and (max-width: 800px) {
  .sidebar {
    left: 0;
    z-index: 1000;
  }
  .navbar {
    left: 0;
    max-width: 100%;
    transform: translateX(0%);
  }
  #sidebar-open {
    display: block;
  }
}
