@import '../style.css';

/* menu burger */
#menuBurger {
    display: flex;
    flex-direction: column;

    position: fixed;

    z-index: 1;

    width: 100px;
    height: 100vh;
    background-color: var(--cor-primaria);

    transition: 100ms ease;
}

#barra-divisao {
    display: flex;

    width: 100px;
    height: 5px;

    background-color: #fff;

    transition: 100ms ease;
}

/* opcoes menuBurger */
.opcao-menuBurger {
    display: flex;

    align-items: center;

    position: inherit;

    width: 100px;
    height: 75px;

    transition: 100ms ease;

    cursor: pointer;
}

.opcao-icone {
    display: flex;
    width: 100px;
    height: 75px;

    align-items: center;
    justify-content: center;
}

.opcao-menuBurger:hover {
    background-color: #185a9b; /* <--------- mudar isso ------------ */
}

#sair-menu {
    display: flex;
    position: fixed;

    bottom: 20px;
}

/* texto toggle menuBurger */
.opcao-nome {
    display: none;
}

/* corpo perfil */
#testando {
    background-color: #000;

    width: auto;
    height: 4000px;

    margin-left: 125px;
    margin-right: 25px;
}


/* remover-------------------------------------------------------------------- */
p {
    color: #fff;
}