/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  background: #252525;
}
/* Pre css */
.flex {
  display: flex;
  align-items: center;
}
.nav_image {
  display: flex;
  min-width: 55px;
  justify-content: center;
}
.nav_image img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
}

/* menu */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  border-right: 2px solid #ffffff8a;
  height: 100%;
  width: 280px;
  background: #252525;
  padding: 15px 10px;
  grid-area: nav;
  transition: all 0.4s ease;
}
.menu.close {
  width: calc(55px + 20px);
}
.logo_items {
  gap: 8px;
}

body{
    grid-template-areas: 
    "nav main main";
    width: 100%;
    display: grid;
    grid-column-gap: 0;
}

main {
    grid-area: main;
}

#lock-icon,
#menu-close {
  padding: 10px;
  color: #535353;
  font-size: 25px;
  cursor: pointer;
  margin-left: -4px;
  transition: all 0.3s ease;
}
#menu-close {
  display: none;
  color: #252525;
}
.menu-conteudo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
  color: #fff;
  overflow-y: auto;
  height: calc(100% - 190px);
}
.menu-conteudo::-webkit-scrollbar {
  display: none;
}
.menu_title {
  position: relative;
  height: 50px;
  width: 55px;
}

.menu.close .title {
  opacity: 0;
}
.menu_title .line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 20px;
  border-radius: 25px;
  background: #ffffff;
  transition: all 0.3s ease;
}

.item {
  list-style: none;
  padding-top: 25px;
}

.menu_items{

}


.link {
  text-decoration: none;
  border-radius: 8px;
  margin-bottom: 8px;
  color: rgb(134, 134, 134);
}
.link:hover {
  color: #fff;
  background-color: rgb(95, 95, 95);
}
.link span {
  white-space: nowrap;
}



.link i {
  height: 50px;
  min-width: 55px;
  display: flex;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.menu-perfil {
    padding-top: 15px;
    margin-top: 15px;
    gap: 15px;
    flex-direction: column;
}
.menu-perfil .nome {
  font-size: 18px;
  color: #ffffff;
}

/* Editar */
.data_text{
    align-items: center;
    justify-content: center;
}

button {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 5px 15px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #ffffff;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #ffffff;
    border-radius: 20px;
  }
  
  button:hover {
    color: rgb(0, 0, 0);
    box-shadow: inset 0 -100px 0 0 #ffffff;
  }
  
  button:active {
    transform: scale(0.9);
  }

.editar{
    display: flex;
}
.usuario .editar {
  font-size: 13px;
  color: #fff;
}

.usuario .editar:hover {
    font-size: 13px;
    color: #000000;
  }

.usuario{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navbar */
.navbar {
  max-width: 500px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 60%;
  transform: translateX(-50%);
  background: #fff;
  padding: 10px 20px;
  border-radius: 0 0 8px 8px;
  justify-content: space-between;
}
#menu-open {
  font-size: 30px;
  color: #333;
  cursor: pointer;
  margin-right: 20px;
  display: none;
}

.navbar img {
  height: 40px;
  width: 40px;
  margin-left: 20px;
}

/* Responsivo */
@media screen and (max-width: 1100px) {
  .navbar {
    left: 65%;
  }
}
@media screen and (max-width: 800px) {
  .menu {
    left: 0;
    z-index: 1000;
  }
  .menu.close {
    left: -100%;
  }
  #menu-close {
    display: block;
  }
  #lock-icon {
    display: none;
  }
  .navbar {
    left: 0;
    max-width: 100%;
    transform: translateX(0%);
  }
  #menu-open {
    display: block;
  }
}

