@import '../style.css';

#perfil {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    height: 150px;

    margin: 50px 0px;
}

main {
    display: flex;
    flex-direction: row;

    background-color: var(--background-principal);
    background-image: linear-gradient(to right, var(--cor-primaria), var(--background-principal));
}

/* trocar paginas */
.escondido {
    display: none;
}

.secao {
    display: none;
    
    margin: 0px 10px;
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
}

/* menu burger */
#menuBurger {
    display: flex;
    flex-direction: column;

    align-items: center;

    z-index: 1;

    width: 300px;
    height: 100vh;
    background-color: var(--background-secundario);
}

.titulo {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 75px;
}

.barra-divisao {
    width: 100%;
    height: 5px;

    background-color: #fff;
}

/* opcoes */
.opcao-menuBurger {
    display: flex;

    align-items: center;

    width: 300px;
    height: 75px;

    transition: 200ms ease;

    cursor: pointer;
}

.opcao-icone {
    display: flex;
    width: 100px;
    height: 75px;

    align-items: center;
    justify-content: center;
}

.opcao-menuBurger:hover {
    background-color: var(--cor-primaria);
}

#sair-menu {
    display: flex;
    position: absolute;

    bottom: 20px;
}
