@import '../style.css';

body {
    height: 100%;
}

main {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, var(--cor-primaria), var(--background-principal));

    background-size: cover;
}

.ocultarOriginal {
    display: none;
}

/* corpo Curso */
.principal {
    width: 100%;
    height: 100%;

    margin-right: 325px;
    margin-left: 325px;
}

/* trocar paginas */
.escondido {
    display: none;
}

.secao {
    display: none;

    flex-direction: column;

    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
}

.secoesVideos {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;

    justify-content: center;
    align-items: center;
}

/* video */
#video1,
#video2,
#video3 {
    display: flex;
    width: 854px;
    height: 480px;
}

.secoesQuestionarios {
    flex-direction: column;

    width: 100%;
    height: 100vh;

    justify-content: center;
    align-items: center;
}

.secoesTextos {
    position: relative;

    top: 0px;

    height: auto;
}

/* menu burger */
#menuBurger {
    display: flex;
    flex-direction: column;

    align-items: center;

    z-index: 1;

    position: fixed;

    width: 300px;
    height: 100vh;
    background-color: var(--background-secundario);
}

.titulo {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 75px;
}

.barra-divisao {
    width: 100%;
    height: 5px;

    background-color: #fff;
}

/* opcoes */
.opcao-menuBurger {
    display: flex;

    align-items: center;

    width: 300px;
    height: 75px;

    transition: 200ms ease;

    cursor: pointer;
}

.desativado:hover {
    background-color: var(--background-principal);
}

.opcao-icone {
    display: flex;
    width: 100px;
    height: 75px;

    align-items: center;
    justify-content: center;
}

.opcao-menuBurger:hover {
    background-color: var(--cor-primaria);
}

#sair-menu {
    display: flex;
    position: absolute;

    bottom: 20px;
}

/*---------- secao Curso ---------- */
.tituloCurso {
    display: flex;

    width: 100%;
    height: auto;

    align-items: center;
    justify-content: center;
}

#video1,
#video2,
#video3 {
    display: flex;
    width: 100%;
    height: auto;
}

.videoCurso {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botaoCurso {
    width: 250px;
    height: 50px;
    background-color: #0a7133;

    cursor: not-allowed;

    border-radius: 30px;

    margin: 20px 0px;
    color: #fff;
    font-size: 20px;

    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

/* botaoCurso progresso do video */
.textoBotaoVideo {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 250px;
    height: 100%;
    font-size: 20px;
}

.progresso {
    height: 100%;
    width: 0;
    background-color: var(--corBotaoDestaque);
    border-radius: 30px;
    transition: 250ms linear;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------- SECAO TEXTO CURSO ---------- */
.divTexto {
    display: flex;
    flex-direction: column;

    background-color: var(--background-principal);

    padding: 30px;
    border-radius: 30px;

    width: 100%;

    margin-bottom: 15px;
}

/* ---------- SECAO QUESTIONARIO ---------- */
.respostas {
    display: flex;
    flex-direction: column;

    width: 100%;

    height: 500px;

    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
}

.resposta {
    display: flex;

    background-color: var(--background-principal);

    padding: 30px;
    border-radius: 30px;

    width: 800px;
    height: 90px;

    margin: 10px;

    border: #fff 2px solid;

    align-items: center;
}

.correta {
    background-color: var(--corBotaoDestaque);
}

/* fim questionario */
.botaoContinuar {
    display: none;
    width: 250px;
    height: 50px;
    background-color: var(--corBotaoDestaque);

    border-radius: 30px;

    margin: 20px 0px;
    color: #fff;
    font-size: 20px;

    align-items: center;
    justify-content: center;
    text-align: center;
}

/* menu Capitulos do curso */
.menuCapitulosCurso {
    display: flex;
    width: 300px;
    height: 75px;
    background-color: var(--background-secundario);

    z-index: 0;

    position: fixed;

    right: 0;
    top: 0;
}

summary::before {
    display: none;
    content: '';
}

.sumarioCapitulosCurso {
    display: flex;

    width: 300px;
    height: 75px;

    text-align: center;
    align-items: center;
    justify-content: center;

    font: var(--fwBolder) 20px var(--font-principal);

    transition: none;

    background-color: var(--background-secundario);
}

.capituloMenu {
    display: flex;

    width: 300px;
    height: 75px;

    background-color: var(--background-secundario);

    align-items: center;

    transition: 200ms ease;
}

.capituloMenu:hover {
    background-color: var(--cor-primaria);
}

.marcadorConclusao {
    display: flex;

    width: 25px;
    height: 25px;
    border-radius: 50%;

    background-color: var(--background-principal);
    background-size: cover;

    margin: 25px;
}